<mat-toolbar id="toolBar">
    <h1>Grocery List Manager</h1>
    <form>
        <mat-form-field id="formField" appearance="outline">
            <mat-label>Enter Item Name..</mat-label>
            <div class="inputDiv">
                <input matInput class="inputField" aria-label="Item name" [formControl]="addToList" />
            </div>
        </mat-form-field>
        <button mat-raised-button (click)="addItem()" class="addButton"><mat-icon class="icon">add</mat-icon></button>
    </form>
</mat-toolbar>

