h1{
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 20px;
    margin-right: 0px;
}
form{
    text-align: center;
    margin:5px auto;
}
#toolBar{
    height: 100px;
    padding-top:30px ;
    padding-bottom:30px;
}
#formField{
    width: 450px;
    padding:20px;
    height:50px;
    margin-left:  -267px;
}

.addButton{
    height: 57px;
    text-align: center;
    margin-left: -20px;
    border-radius: 0 2px 2px 0;
    padding-left: 25px;

}
.icon{
    font-weight:bold;
    margin: auto;

}
::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
  }
