.display{
   margin:auto;
   margin-top: 50px;
    width:60%;
    height:80%;
}
.item{
   font-size: 20px;
    display: inline-block;
    margin-top:10px;
    font-weight: bold;
}
#delete{
    float:right;
}
#check{
    float:right;   
}
#list-item{
    color:black !important;
    margin:auto;
    margin-bottom: 6px;
    width:70%;
    -webkit-box-shadow: 0 0 5px 2px rgb(203, 202, 202);
    -moz-box-shadow: 0 0 5px 2px rgb(203, 202, 202);
    box-shadow: 0 0 5px 2px rgb(203, 202, 202);
}
